* {
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  background: #F5F5F5;
  min-height: 100vh;
}

.header {
  background: #171717;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adiciona um espaçamento interno para os elementos dentro do cabeçalho */
}

.logo {
  width: 36px;
}

.logo img {
  max-width: 100%;
}

.btn-logout {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid #333;
    padding: 6px 12px;
    border-radius: 4px;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block; /* Para que os itens do menu fiquem na mesma linha */
  margin-right: 10px; /* Adiciona um espaçamento entre os itens do menu */
}

.container {
  display: flex;
  min-height: calc(100vh - 50px);
}

.sidebar {
  width: 200px;
  background-color: #C0C0C0;
}

.sidebar ul {
  list-style: none;
  margin: none;
}

.sidebar ul li {
    width: 100%;
    height: calc(9%);
    display: flex;
    align-items: center;
}

.sidebar ul li.active {
        background-color: white;
}

.sidebar ul li a {
    text-decoration:none;
    color: black;
    font-size: 16px;
    margin-left: 10px;
}

.nome-pagina {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px; /* Adicione margem inferior se desejar espaço entre o "nome-pagina" e o "all-content" */
}

.all-content {
    width: 100%;
    display: flex;
    flex-direction: row; /* Mantém os elementos em linha horizontalmente */
    justify-content: space-between; /* Distribui o espaço horizontalmente entre "nome-pagina" e "all-content" */
}

.form-container,
.resultado {
margin-top: 20px;
    width: calc(50% - 10px); /* Define a largura de cada elemento com um pequeno espaço entre eles */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    height: 92%;
    font-size: 20px;
    color: #333; /* Cor do texto */
}

.form-group {
    font-size: 14px;
    margin-bottom: 20px;
}

/* Estilo para os campos de seleção */
select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
  position: sticky;
}

/* Estilo para o botão Salvar */
.save-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.save-button:hover {
    background-color: #0056b3;
}

/* Estilo para o conteúdo principal */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Adicione isso para separar os elementos horizontalmente */
}

/* Estilo para a seção do formulário */
.form-container {
    width: calc(50% - 20px); /* 50% do espaço disponível menos o espaçamento */
    margin-bottom: 20px; /* Espaço entre as seções */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.resultado {
    width: calc(50% - 20px); /* 50% do espaço disponível menos o espaçamento */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

.resultado a{
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.resultado a:hover {
    background-color: #0056b3;
}

.resultado h2 {
    font-size: 26px;
    color: #333; /* Cor do texto */
    margin-bottom: 10px;
}

.resultado ul {
    list-style: none;
    padding: 0;
}

.resultado li {
    font-size: 18px;
    color: #555; /* Cor do texto */
    margin-bottom: 5px;
}

.resultado strong {
    font-weight: bold;
    color: #000; /* Cor do texto forte */
    margin-right: 5px;
}

.resultado h3 {
    font-size: 20px;
    color: #333; /* Cor do texto */
    margin-top: 15px;
}
