{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>CalConc</title>
</head>
<body>
    {% include "utils/header.html" %}
    <div class="menu-principal">
        <p> Menu Principal </p>
    </div>
    <div class="container">

     <div class="box-row">
        <a href="{% url 'agregados' %}" class="box">
            <div class="box-image">
                <img src="{% static 'images/areia.png' %}" alt="agregado">
            </div>
            <div class="box-content">
                <span class="box-title">Agregado</span>
                <span class="box-description">Gerenciamento de agregados</span>
            </div>
        </a>

        <a href="{% url 'tipo_agregado' %}" class="box">
            <div class="box-image">
                <img src="{% static 'images/pedra.png' %}" alt="agregado">
            </div>
            <div class="box-content">
              <span class="box-title">Tipo de Agregado</span>
              <span class="box-description">Gerenciamento do tipo de agregado</span>
            </div>
        </a>
        <a href="{% url 'calculadora' %}" class="box">
            <div class="box-image">
                <img src="{% static 'images/calculadora.png' %}" alt="agregado">
            </div>
            <div class="box-content">
              <span class="box-title">Calculadora</span>
              <span class="box-description">Realizar cálculos</span>
            </div>
        </a>
        <a href="{% url 'traco' %}" class="box">
            <div class="box-image">
                <img src="{% static 'images/concreto.png' %}" alt="agregado">
            </div>
            <div class="box-content">
              <span class="box-title">Traço</span>
              <span class="box-description">Gerenciamento de traços</span>
            </div>
        </a>
      </div>
      <div class="box-row-2">
        <a href="{% url 'fornecedor' %}" class="box-2">
            <div class="box-image">
                <img src="{% static 'images/fornecedor.png' %}" alt="agregado">
            </div>
            <div class="box-content">
              <span class="box-title">Fornecedor</span>
              <span class="box-description">Gerenciamento de fornecedores</span>
            </div>
        </a>
        <a href= "{% url 'usuarios' %}" class="box-2">
            <div class="box-image">
                <img src="{% static 'images/usuario.png' %}" alt="agregado">
            </div>
            <div class="box-content">
              <span class="box-title">Usuários</span>
              <span class="box-description">Gerenciamento de usuários</span>
            </div>
        </a>
        <a href="{% url 'historico' %}" class="box-2">
            <div class="box-image">
                <img src="{% static 'images/historia.png' %}" alt="agregado">
            </div>
            <div class="box-content">
              <span class="box-title">Histórico</span>
              <span class="box-description">Histórico de cálculos</span>
            </div>
        </a>
      </div>
    </div>
</body>
{% endblock %}
