{% load static %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/listar_tipo_agregado.css' %}">
    <title>ConCalc</title>
</head>
<body>
    {% if user.is_anonymous %}
        <div class="container-login100-form-btn">
            <script>
                window.location.href = "{% url 'login' %}"
            </script>
        </div>
    {% else %}
    <div class="header">
        <div class="logo">
            <img src="{% static 'images/img-01.png' %}" alt="IMG">
        </div>
        <ul class="menu">
            <li><a class="btn-logout" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Conteúdo do menu lateral -->
            <ul>
                <li><a href="{% url 'index' %}">Menu Inicial</a></li>
                <li class="{% if request.resolver_match.view_name == 'agregados' %}active{% endif %}">
                    <a href="{% url 'agregados' %}">Agregado</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'tipo_agregado' %}active{% endif %}">
                    <a href="{% url 'tipo_agregado' %}">Tipo de Agregado</a>
                </li>
                <li><a href="#">Calculadora</a></li>
                <li><a href="#">Traço</a></li>
                <li class="{% if request.resolver_match.view_name == 'listar_fornecedores' %}active{% endif %}">
                    <a href="{% url 'listar_fornecedores' %}">Fornecedor</a>
                </li>
                <li><a href="#">Usuários</a></li>
                <li><a href="#">Histórico</a></li>
            </ul>
        </div>/

        <!-- Conteúdo principal -->
        <div class="content">
            <div class="cadastrar_tipo_agregado_btn">
                <a class="nome-pagina">Tipo de Agregado</a>
                <a href="{% url 'cadastrar_tipo_agregado' %}" class="btn_cadastrar_tipo_agregado">Cadastrar Tipo de Agregado</a>
            </div>

            <div class = 'all-content'>
                <div class = 'filtros'>
                    Filtros
                </div>
                <div class="lista-tipos-agregados">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tipo in listar_tipo_agregado %}
                                <tr>
                                    <td>{{ tipo.nome }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                </div>
        </div>
    </div>
    {% endif %}
</body>
{% endblock %}
