{% extends 'base.html' %}
{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>ConCalc</title>
</head>
<body>
     {% include "utils/header.html" %}

    <div class="container">
         {% include "utils/sidebar.html" %}

        <div class="content">
            <div class="cadastrar_btn">
                <a class="nome-pagina">Fornecedor</a>
                <a href="{% url 'cadastrar_fornecedor' %}" class="btn_cadastrar">Cadastrar Fornecedor</a>
            </div>

            <div class = 'all-content'>
                {% with filtro_url='filtrar_fornecedores' %}
                    {% include "utils/filtrar.html" %}
                {% endwith %}
                <div class="lista">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fornecedor in fornecedores %}
                                <tr>
<!--                                    <td>{{ fornecedor.data_cadastro }}</td>-->
                                    <td>{{ fornecedor.nome }}</td>
                                    <td class="align-right">
                                        <div class="btn-action-container">
                                            <a href="{% url 'inspecionar_fornecedor' fornecedor.id %}" class="btn-action"><i class="fa fa-eye"></i></a>
                                            <a href="{% url 'editar_fornecedor' fornecedor.id %}" class="btn-action"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
