
{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/cadastros.css' %}">
    <title>ConCalc</title>
</head>
<body>
  <h1>Cadastrar Tipo de Agregado</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="field">
        <label for="{{ form.nome.id_for_label }}">Nome<span class="required-label">*</span></label>
        {{ form.nome }}
        <ul class="error-message">{{ form.nome.errors }}</ul>
    </div>

    <div class="button-container">
        <button type="submit" class="save-button">Salvar</button>
        <button type="button" onclick="goBack()" class="exit-button">Cancelar</button>
    </div>
  </form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
{% endblock %}
