{% extends 'base.html' %}
{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>ConCalc</title>
</head>
<body>
     {% include "utils/header.html" %}

    <div class="container">
         {% include "utils/sidebar.html" %}

        <div class="content">
            <div class="cadastrar_btn">
                <a class="nome-pagina">Tipo de Agregado</a>
                <a href="{% url 'cadastrar_tipo_agregado' %}" class="btn_cadastrar">Cadastrar Tipo de Agregado</a>
            </div>

            <div class = 'all-content'>
                <div class="lista">
                    <table>
                        <thead>
                            <tr>
                                <th>Data de Cadastro</th>
                                <th>Nome</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tipo_agregado in tipos_agregados %}
                                <tr>
                                    <td>{{ tipo_agregado.data_cadastro }}</td>
                                    <td>{{ tipo_agregado.nome }}</td>
                                    <td class="align-right">
                                      <div class="btn-action-container">
                                        <a href="{% url 'editar_tipo_agregado' tipo_agregado.id %}" class="btn-action"><i class="fa fa-edit"></i></a>
                                     </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        const btnDeletar = document.querySelectorAll('.btn-deletar');
        btnDeletar.forEach(button => {
            button.addEventListener('click', () => {
                const id = button.getAttribute('data-id');
                console.log('ID:', id);

                const confirmDelete = confirm('Tem certeza que deseja excluir?');
                console.log('Confirm Delete:', confirmDelete);

                if (confirmDelete) {
                    const url = button.getAttribute('data-url');
                    console.log('URL:', url);

                    const csrfToken = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
                    console.log('CSRF Token:', csrfToken);

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log('Registro excluído com sucesso');
                            location.reload();
                        } else {
                            console.error('Erro ao excluir registro');
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao excluir registro:', error);
                    });
                }
            });
        });
    </script>
</body>
{% endblock %}
