{% load static %}
{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/cadastros.css' %}">
    <link rel="stylesheet" href="{% static 'css/erro.css' %}">
    <title>CalConc</title>
</head>
<body>
<h1>Editar Usuário</h1>
<form method="post" class="form-container">
    {% csrf_token %}

    {% include "utils/error_message.html" %}

    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        {% include "utils/salvar_cancelar_botoes.html" %}
  </form>
{% include "utils/duvidas.html" %}
</body>
</html>
{% endblock %}