{% load static %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <title>CalConc</title>
</head>
<body>
     {% include "utils/header.html" %}

    <div class="container">

         {% include "utils/sidebar.html" %}

        <div class="content">
            <div class="cadastrar_btn">
                <a class="nome-pagina">Usuários</a>
                <a href="{% url 'cadastrar_usuario' %}" class="btn_cadastrar">Adicionar Usuario</a>
            </div>

            <div class = 'all-content'>

                <div class="lista">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in usuario %}
                                <tr>
                                    <td>{{ i.nome }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>
    </div>
    <script src="{% static 'js/deletar.js' %}"></script>
</body>
{% endblock %}
