{% extends 'base.html' %}
{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
  <h2>Cadastrar Traço</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}





    <h3>Agregados:</h3>
    {% for tipo_agregado in tipos_agregado %}
      <h4>{{ tipo_agregado.nome }}</h4>
      <ul>

        <label for="language">Agregado:</label>
        <select name="language" id="language">
          <option value="">Nenhum</option>
        {% for agregado in tipo_agregado.agregados_relacionados %}
          <option value="{{ agregado.id }}">{{ agregado }}</option>
        {% endfor %}
        </select>
        <br>
<!--          <div class="field">-->
<!--            {{ form.agregados }}-->
<!--          </div>-->
<!--          <li>-->
<!--            <label for="id_agregado_{{ tipo_agregado.id }}_{{ agregado.id }}">{{ agregado.nome }}</label>-->
<!--            <input type="number" step="0.01" min="0" max="100" name="agregado_{{ tipo_agregado.id }}_{{ agregado.id }}">-->
<!--          </li>-->
      </ul>
    {% endfor %}

    <button type="submit">Cadastrar</button>
  </form>
{% endblock %}