<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .icon {
            position: fixed; /* Ou use "absolute" ou "relative", dependendo de sua preferência */
            bottom: 10px; /* Define a distância do ícone em relação à parte inferior da página */
            right: 15px; /* Define a distância do ícone em relação à direita da página */
        }
    </style>
</head>
<body>
    <div class="icon">
        <a href="https://www.twitch.tv/ale_ulinick" class="icon" target="_blank">
            <i class="fas fa-question-circle" style="color: #007bff; font-size: 40px;"></i>
        </a>
    </div>
</body>
</html>
