<div class="filtros">
    <form method="get" action="{% url filtro_url %}">
        <input type="text" id="filtro_nome" name="nome" placeholder="Nome">
        <!-- Use a estrutura condicional para exibir ou ocultar a parte de data -->
        {% if exibir_data %}
        <input type="date" id="filtro_data" name="data" placeholder="Data">
        {% endif %}
        <button type="submit">Filtrar</button>
        <a href="{% url filtro_url %}" class="limpar-filtros">Limpar Filtros</a>
    </form>
</div>
