{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "utils/anonymous_user_redirect.html" %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/paginador.css' %}">
</head>
<body>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">

            {% if not page_obj.number %}
                Página 1 de 1
            {% else %}
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            {% endif %}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
{% endblock %}
