<div class="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
        <li><a href="{% url 'index' %}">Menu Inicial</a></li>

        <li class="{% if request.resolver_match.view_name == 'agregados' %}active{% endif %}">
            <a href="{% url 'agregados' %}">Agregado</a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'tipo_agregado' %}active{% endif %}">
            <a href="{% url 'tipo_agregado' %}">Tipo de Agregado</a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'calculator' %}active{% endif %}">
            <a href="{% url 'calculator' %}">Calculadora</a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'traco' %}active{% endif %}">
            <a href="{% url 'traco' %}">Traço</a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'fornecedor' %}active{% endif %}">
            <a href="{% url 'fornecedor' %}">Fornecedor</a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'usuarios' %}active{% endif %}">
            <a href="{% url 'usuarios' %}">Usuários</a>
        </li>

        <li class="{% if request.resolver_match.view_name == 'historico' %}active{% endif %}">
            <a href="{% url 'historico' %}">Histórico</a>
        </li>
    </ul>
</div>