{% extends 'base.html' %}
{% load static %}

{% include "utils/anonymous_user_redirect.html" %}

{% block content %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>ConCalc</title>
</head>
<body>
     {% include "utils/header.html" %}

    <div class="container">
        {% include "utils/sidebar.html" %}

        <!-- Conteúdo principal -->
        <div class="content">
            <div class="cadastrar_btn">
                <a class="nome-pagina">Agregado</a>
                <a href="{% url 'cadastrar_agregado' %}" class="btn_cadastrar">Cadastrar Agregado</a>
            </div>

            <div class = 'all-content'>
                <div class="lista">
                    <table>
                        <thead>
                            <tr>
                                <th>Data de Cadastro</th>
                                <th>Nome</th>
                                <th>Umidade</th>
                                <th>Massa Específica</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tipo in agregados %}
                                <tr>
                                    <td>{{ tipo.data_cadastro }}</td>
                                    <td>{{ tipo.nome }}</td>
                                    <td>{{ tipo.umidade }}</td>
                                    <td>{{ tipo.massa_especifica }}</td>
                                    <td class="align-right">
                                        <div class="btn-action-container">
                                            <a href="{% url 'inspecionar_agregado' tipo.id %}" class="btn-action"><i class="fa fa-eye"></i></a>
                                            <a href="{% url 'editar_agregado' tipo.id %}" class="btn-action"><i class="fa fa-edit"></i></a>
                                            <button class="btn-action btn-deletar" data-id="{{ tipo.id }}" data-url="{% url 'deletar_agregado' tipo.id %}"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                </div>
        </div>
    </div>
    <script src="{% static 'js/deletar.js' %}"></script>
</body>
{% endblock %}