* {
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  background: #F5F5F5;
}

.header {
  background: #171717;
  color: #171717;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adiciona um espaçamento interno para os elementos dentro do cabeçalho */
}

.logo {
 color:#171717;
  width: 36px;
}

.logo img {
  max-width: 100%;
}

.btn-logout {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid #333;
    padding: 6px 12px;
    border-radius: 4px;
}

.menu-principal {
  color: black;
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

.texto-direita {
  text-align: right;
}


.box-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.box-row.align-left {
  justify-content: flex-start;
}

.box-row-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 75%;
  margin-bottom: 20px;
}

.box-row-2.align-left {
  justify-content: flex-start;
}

.box {
  font-size: 16px;
  font-weight: 600;
  width: calc(25% - 10px);
  height: 150px;
  background-color: #E6E6FA;
  display: flex;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  flex-direction: row; /* Alterado para "row" para alinhar elementos horizontalmente */
  position: relative;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: left; /* Centraliza o texto horizontalmente */
}

.box-image img{
  height: 40px;
  margin-right: 30px; /* Move a imagem para a esquerda */
  display: flex;
  align-items: center; /* Centraliza verticalmente a imagem */
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}

.box-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.box-description {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
    text-align: left;
}

.box-2 {
  font-size: 16px;
  font-weight: 600;
  width: calc(33.3% - 10px);
  height: 150px;
  background-color: #E6E6FA;
  display: flex;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  flex-direction: row; /* Alterado para "row" para alinhar elementos horizontalmente */
  position: relative;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: left; /* Centraliza o texto horizontalmente */
}

/* Estilos adicionais para hover (opcional) */
.box:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #001A5F;
    border-radius: 10px;
}

.box-2:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #001A5F;
    border-radius: 10px;
}

